<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a href="/" class="navbar-brand">
        <img src="../assets/punto2.png" width="30" height="30" class="d-inline-block align-top" alt="">    
        CON<strong>ACCI</strong>
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link"  routerLink ="/inicio">Inicio<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink ="/mapa">Mapa</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink ="/mapaNG">MapaNG</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink ="/listadoAccidentes">Reporte</a>
            </li>
          <!--<li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>-->
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">por usar</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>

    
</nav>
