<section id="sec1">
        <div class="contenedor-texto">
            <h2>MapBox</h2>
            <p>Aquí podrá interactuar con el mapa e idnetificar accidentes viales - MapBox</p>
            <a [routerLink] = "['/mapa']">Mapa con accidentedes</a>
            <img  src="assets/undraw_Map_dark_k9pw.svg">
        </div>
</section>
<section id="sec2">
    <div class="contenedor-texto">
        <h2>Google Maps</h2>
        <p>Aquí podrá interactuar con el mapa e idnetificar accidentes viales - Google Maps</p>
        <a [routerLink] = "['/mapaNG']">Mapa con accidentedes</a>
        <img  src="assets/undraw_Destination_6jtj.svg">
    </div>
</section>
<section id="sec3">
        <div class="contenedor-texto">
            <h2>Listado</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, dolore?</p>
            <a [routerLink] = "['/listadoAccidentes']">Listado de accidentes</a>
            <div class="row">
                <img src="assets/undraw_reading_list_4boi.svg">
            </div>
            
        </div>
</section>
<section id="sec4">
        <div class="contenedor-texto">
            <h2>Reportar</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, dolore?</p>
            <a href="#sec2">Reportar un accidente</a>
            <img src="assets/undraw_personal_settings_kihd.svg">
        </div>
</section>
